<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NWEABridgeImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
  </system.serviceModel>
  <applicationSettings>
    <NWEABridgeImporter.Properties.Settings>
      <setting name="NWEABridgeImporter_SForceService_SforceService"
        serializeAs="String">
        <value>https://test.salesforce.com/services/Soap/c/27.0/0DFV00000008Oim</value>
      </setting>
    </NWEABridgeImporter.Properties.Settings>
  </applicationSettings>
</configuration>