<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.salesforce.com/services/Soap/c/27.0/0DFV00000008Oim"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="Soap" name="Soap" />
        </client>
    </system.serviceModel>
</configuration>