@CHARSET "ISO-8859-1";

#header {
	height: 95px;
	margin-bottom: 10px;
	text-align: center;
    box-shadow: 0px 5px 5px #888888;
    background-image: url(../images/headerbg.png);
    background-repeat:repeat-x;
    position: relative;
}

.MainNav {
    position:absolute;
    top: 5px;
    right: 10px;

}

.loginstatus{
    position:absolute;
    right: 10px;
    top: 70px;
}

#headertitle {
	color: #424242;
	font-size: 23px;
	font-weight: normal;
}

#main-logo {
	width: 160px;
	height: 80px;
	background-image: url(../images/nwealogo.png);
	background-repeat: no-repeat;
	display: inline-block;
    position:absolute;
    left: 5px;
    top: 5px;
}

#header #header-links {
	display: inline-block;
	color: #7d7d7d;
	font-size: 11px;
	margin-left: 50px;
	margin-bottom: 20px;
}

#header-links a {
	color: #7d7d7d;
	text-decoration: none;
	padding-right: 16px;
	margin-right: 16px;
	border-right: 1px solid #969696;
}

#header-links a.last {
	border-right: none;
}

#header-links a:hover {
	text-decoration: underline;
}

#header .headerleft {
	display: inline-block;
	width: 600px;
	vertical-align: top;
	padding-top: 40px;
	padding-left: 20px;
}

.Banner .BannerTitle
{
    font-size: 2em;
    padding:3px;

}

.Banner .BannerAgency{
    padding:3px;
    font-size:1.2em;
}