@CHARSET "ISO-8859-1";

.Message {
	text-align:left;
	padding:5px;
	margin:auto;
	width: 400px;
}

.ThankYou{
	text-align:left;
	padding:5px;
	margin:auto;
	width: 400px;
}

.body{
	text-align:center;
}

.SummaryContainer{
	padding: 10px 20px;
	
}